body {
	background-image: url(../imagenes/fondo6.jpg);
	background-position: 50% 0;
	background-repeat: no-repeat;
	background: gray;
}

h3{
	text-align: center;
}

p{
	text-align: center;

}

.imagen1{
	position: relative;
	left: 550px;
}